* {
  margin: 0; }

.wrapper {
  min-height: 100vh;
  width: 100vw;
  font-family: "Avenir"; }
  .wrapper .top, .wrapper .bottom {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .wrapper .top .square:nth-child(1) .color, .wrapper .bottom .square:nth-child(1) .color {
      background: #fd3d39; }
    .wrapper .top .square:nth-child(2) .color, .wrapper .bottom .square:nth-child(2) .color {
      background: #fe9526; }
    .wrapper .top .square:nth-child(3) .color, .wrapper .bottom .square:nth-child(3) .color {
      background: #ffcb2f; }
    .wrapper .top .square:nth-child(4) .color, .wrapper .bottom .square:nth-child(4) .color {
      background: #53d86a; }
  .wrapper .bottom {
    background: #333545; }
    .wrapper .bottom .square {
      background: white;
      border-radius: 4px; }
      .wrapper .bottom .square:nth-child(1) .color {
        background: #3cabd8; }
      .wrapper .bottom .square:nth-child(2) .color {
        background: #167ffc; }
      .wrapper .bottom .square:nth-child(3) .color {
        background: #595bd4; }
      .wrapper .bottom .square:nth-child(4) .color {
        background: #fd3259; }
  .wrapper .square {
    width: 130px;
    margin: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
    .wrapper .square .color {
      height: 130px;
      width: 130px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .wrapper .square .desc {
      color: black;
      margin: 5px 10px;
      box-shadow: none; }
      .wrapper .square .desc .hex {
        color: #7F7F7F; }
