doctype html
html(lang="en")
  head
    title Colour Palette
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#333545")
    link(rel="stylesheet", href="assets/css/style.css")
    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Colour Palette")
    meta(name="twitter:image" content="SOME URL HERE")
  body
    .wrapper
      .top
        .square
          .color
          .desc
            p Red
            p.hex #FD3D39


        .square
          .color
          .desc
            p Orange
            p.hex #FE9526

        .square
          .color
          .desc
            p Yellow
            p.hex #FFCB2F
            
        .square
          .color
          .desc
            p Green
            p.hex #53D86A
            
      .bottom
        .square
          .color
          .desc
            p Light Blue
            p.hex #3CABDD8


        .square
          .color
          .desc
            p Blue
            p.hex #167FFC

        .square
          .color
          .desc
            p Purple
            p.hex #595BD4
            
        .square
          .color
          .desc
            p Pink
            p.hex #FD3259

    script(src="assets/js/main.min.js")
